/* Estilo para body 
body{
    font-size: 22px;
    background-color: #bb6464;
    color: #555;
}*/

/* Estilo para body */
body {
    font-size: 22px;
    background-color: #ffffff;
    color: #555;
    display: flex; /* Agregamos flex para que el contenido se muestre en columna */
    flex-direction: column; /* Alineamos el contenido en columna */
    /*align-items: center;  Centramos el contenido horizontalmente */
}

/* Estilo para el encabezado */
header {
    display: flex;
    justify-content: center; /* Eliminamos la alineación al centro */
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* Estilo para la imagen del encabezado */
header img {
    display: block; /* Cambiamos a bloque para que podamos aplicar márgenes automáticos */
    margin: auto; /* Esto centrará la imagen horizontalmente */
    border-radius: 60px;
    width: 15%;
    height: 15%;
}

/* Ajustes para el menú de navegación */
nav {
    display: flex; /* Mantenemos el menú como flexbox */
    justify-content: center; /* Centramos los elementos del menú horizontalmente */
    align-items: center; /* Centramos verticalmente los elementos */
    background-color: #929291; /* Cambiamos el color de fondo del menú para que se diferencie */
    height: 40px; /* Ajustamos la altura del nav para controlar su grosor */
}

nav ul {
    display: flex; /* Mantenemos el menú como flexbox */
    list-style: none;
    line-height: 40px; /* Igualamos la altura de línea al alto del nav */
}

nav li {
    margin: 0 10px; /* Añadimos un margen entre los elementos del menú */
}

/* Ajustes para los elementos de navegación */
.link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

#hire-me {
    background-color: #fff;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    transition: all 0.6s ease;
}

#hire-me:hover {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
}

#hire-me i {
    margin-right: 0.5rem;
}

.logo {
    text-decoration: none;
    color: #fff;
    /*font-size: 40px;*/
    padding: 0.5rem;
    position: relative;
    transition: 0.35s ease;
}

.logo:hover {
    opacity: 0.5;
}



/* Imagenes Hoteles */

.Hotel {
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
  }
  .Hotel .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .Hotel .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
  }
  
  .Hotel::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  
  .Hotel:hover img {
    filter: grayscale(1) brightness(0.4);
  }
  .Hotel:hover::after {
    opacity: 1;
    inset: 20px;
  }
  
  .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content h2,
  .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
  }
  .content h2 {
    margin-bottom: 12px;
    scale: 0.7;
  }
  .content p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
  }
  .Hotel:hover .content h2 {
    scale: 1;
    opacity: 1;
  }
  .Hotel:hover .content P {
    opacity: 1;
    transform: translateY(0);
  }

  
   /* Pagina Inicio */

.Seccion1 {
    font-size: 12px;
    text-align: left; /* Alineamos el contenido a la izquierda */
    margin-left: 20px; /* Ajustamos el margen izquierdo */
    color: #ca2d2d;
}

.Seccion2 {
    font-size: 12px;
    text-align: left; /* Alineamos el contenido a la izquierda */
    margin-left: 20px; /* Ajustamos el margen izquierdo */
    color: #432acc;
}

.Seccion3 {
    font-size: 12px;
    text-align: left; /* Alineamos el contenido a la izquierda */
    margin-left: 20px; /* Ajustamos el margen izquierdo */
    color: #18b7df;
}
  
/* Estilo para los artículos dentro de la Seccion2 */
.Seccion2 article {
  display: flex; /* Convertimos los artículos en contenedores flex */
  flex-wrap: wrap; /* Permitimos que los elementos se envuelvan en varias filas si es necesario */
  justify-content: space-between; /* Distribuimos los elementos con espacio entre ellos */
  align-items: flex-start; /* Alineamos los elementos en la parte superior */
}

/* Ajuste para el tamaño de los elementos .Hotel dentro de los artículos */
.Seccion2 article .Hotel {
  flex-grow: 1; /* Permitimos que los elementos se expandan para llenar el espacio disponible */
  width: calc(25% - 20px); /* Establecemos el ancho de los elementos */
  margin: 40px; /* Añadimos margen entre los elementos */
  position: relative;
}

/* Ajuste para limitar el número máximo de elementos por fila */
@media screen and (max-width: 1200px) {
  .Seccion2 article .Hotel {
      width: calc(33.33% - 20px); /* Reducimos el ancho para mostrar 3 elementos por fila */
  }
}

@media screen and (max-width: 800px) {
  .Seccion2 article .Hotel {
      width: calc(50% - 20px); /* Reducimos el ancho para mostrar 2 elementos por fila */
  }
}

@media screen and (max-width: 500px) {
  .Seccion2 article .Hotel {
      width: calc(100% - 20px); /* Reducimos el ancho al 100% para mostrar 1 elemento por fila */
  }
}



  
  /* Pagina Nosotros */

  .Inicial {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ca2d2d;
  }


 /* Estilo para el pie de página */
/*footer {
  display: flex;
  justify-content: center; /* Distribuye los elementos uniformemente */
  /*align-items: center; /* Alinea los elementos verticalmente */
  /*background-color: #f0f0f0;
  /*padding: 10px 20px; /* Ajusta el espacio interno */
/*}

/* Estilo para el texto del pie de página */
/*footer p {
  margin: 0; /* Elimina el margen predeterminado */
  /*order: 1; /* Cambia el orden para que aparezca al principio */
/*}

/* Estilo para los enlaces de redes sociales */
/*footer a {
/*  margin-left: 10px; /* Añade un margen a la izquierda para separar los enlaces */
/*  order: 2; /* Cambia el orden para que aparezcan al final */
/*}

/* Estilo para las imágenes */
/*footer img {
/*  width: 30px; /* Define el ancho de las imágenes */
/*  height: auto; /* Permite que la altura se ajuste automáticamente */
/*}*/


footer {
  background-color: #929291;
  height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
  color: #ffffff;
}

.social-media {
    display: flex;
}

.social-media img {
  margin-left: 10px;
  width: 30px; /* establece un ancho del 20% del contenedor padre */
  height: auto; /* establece una altura automática para mantener la proporción */
}

/* Estilo para la sección 1 */
.Seccion1 {
  background-color: #f8f8f8; /* Color de fondo */
  padding: 50px 20px; /* Espacio interno */
  text-align: center; /* Alineación del texto */
}

/* Estilo para el título principal */
.Seccion1 h1 {
  color: #333; /* Color del texto */
  font-size: 32px; /* Tamaño de fuente */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilo para el subtítulo */
.Seccion1 h2 {
  color: #666; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
  margin-bottom: 30px; /* Margen inferior */
}

/* Estilo para el enlace */
.Seccion1 a {
  display: inline-block; /* Convertir en línea en bloque para aplicar estilos */
  background-color: #ff4500; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Quitar subrayado del enlace */
  padding: 10px 20px; /* Espacio interno */
  border-radius: 5px; /* Borde redondeado */
  transition: background-color 0.3s; /* Transición suave */
}

/* Estilo para el enlace al pasar el ratón */
.Seccion1 a:hover {
  background-color: #d13400; /* Cambiar color de fondo */
}
